<div class="footer">
			<div class="mar-auto">
				<div class="footer-btn"><a href="http://wpa.qq.com/msgrd?v=3&uin=904003962&site=qq&menu=yes" target="_blank" title="" class="link_qq"></a></div>
				<div class="footer-copy"><span class="copy">Copyright Right © 2016-2020 mmmjiayuan.com </span>&nbsp;&nbsp;&nbsp;免责声明：本站新闻均来源与网络，本站仅供测试和学习交流。</div>
				
			</div>
		</div>

        <div class="go-top dn" id="go-top">		
		    <a href="http://wpa.qq.com/msgrd?v=3&uin=904003962&site=qq&menu=yes" target="_blank" class="feedback"></a>
		    <a href="javascript:;" class="go"></a>
		</div>
		<!--topgo end-->
		<script type="text/javascript" src="<%templateskin%>/js/time.js"></script><!--时间-->
		<script type="text/javascript" src="<%templateskin%>/js/clickCopy.js"></script><!--点击复制-->
		<script type="text/javascript" src="<%templateskin%>/js/topgo.js"></script><!--返回顶部-->

 